* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/73334647-ad51-42a9-b07b-93298cc2a8e1/2b0fca4f-c15c-4622-9efc-572c4a408c30/IN-en-20230605-popsignuptwoweeks-perspective_alpha_website_large.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-position: center;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 20px;
}
svg {
  height: 40px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  background-color: red;
  border-radius: 6px;
  padding: 6px 16px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
nav a:hover {
  background-color: white;
  color: red;
}
main {
  text-align: center;
  color: white;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
